@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");

:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --colordiferente:#d0f1eb;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --color-fuente: #ffffff;
  --color-fondo: #000;
  --color-dark: #000;
  
  --shadow-color-footer: 0 -6px 10px rgba(0, 0, 0, 0.2); 
  --text-sobra: 1px 2px 4px rgba(0, 0, 0, 0.5);
  --text-sobra-suave: 1px 2px 4px rgba(0, 0, 0, 0.2);
  --imagen-fondo: linear-gradient(
    to top,
  rgba(0, 0, 0, 0.1),
  var(--colordiferente)
  ),
  url(../img/habilidades.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

[tema="light"]{
  --color-fuente: #000;
  --color-fondo:  #868686;
 
  --shadow-color-footer: 0 -6px 10px rgba(255, 255, 255, 0.2);
  --text-sobra: 1px 2px 4px rgba(122, 122, 122, 0.509);
  --text-sobra-suave: 1px 2px 4px rgba(67, 67, 67, 0.527);
  --imagen-fondo: linear-gradient(
    to top,
  rgba(0, 0, 0, 0.6),
  var(--color-fuente)
  ),
  url(../img/habilidades.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.darckness {
  background-color:var(--color-fuente);
  color:var(--color-fondo);
  box-shadow: var(--shadow-color);
  box-shadow: var(--shadow-color-footer);
  text-shadow: var(--text-sobra);
  text-shadow: var(--text-sobra-suave);
}


* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}
html {
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}

/* MENU */
.contenedor-header {
  background-color: var(--colordiferente);
  position: fixed;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0.2rem 0.1rem #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.contenedor-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  font-weight: 700;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}
.contenedor-header header .logo a {
  font-family: "Righteous";
  font-size: 1.5rem;
  color: var(--color-dark);
  text-decoration: none;
  text-shadow: var(--text-sobra);
}
.contenedor-header header ul {
  display: flex;
  list-style: none;
}
.contenedor-header header nav ul li a {
  text-align: none;
  color: var(--color-dark);
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.contenedor-header header nav ul li a:hover {
  color: #1cb698;
}
.nav-responsive {
  background-color: #1cb698;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.linea {
  border-top: 0.2rem solid var(--colordiferente);
  height: 2px;
  
}
/* SECCION I N I C I O */
.inicio {
  background: var(--imagen-fondo);

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--color-fuente);
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-color);
}
.inicio .contenido-banner {
  padding: 20px;
  background-color: var(--colordiferente);
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
  margin-top: 6rem;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
}

.inicio .contenido-banner img {
  border: 2px solid var(--color-dark);
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 30px;
  filter: saturate(110%);
}
.inicio .contenido-banner h1 {
  color:var(--color-dark);
  margin-top: 30px;
  font-size: 30px;
  text-shadow: var(--text-sobra);
}

.inicio .contenido-banner h2 {
    margin-top: 0.5rem;
  color:var(--color-dark);
  font-size: 17px;
  font-weight: normal;
  text-shadow: var(--text-sobra);
  font-weight: bold;
}
.inicio .contenido-banner .redes a {
  color: var(--color-dark);
  display: inline-block;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
  text-shadow: var(--text-sobra);
}
.inicio .contenido-banner .redes a:hover {
  background-color: #1cb698;
}

.redes a:hover {
  background-color: #1cb698;
}
@keyframes moveUpAndDown {
  0%, 100% {
    top: 15rem;
  }
  50% {
    top: 18rem;
  }
}
.inicio .contenido-banner .social-buttons.fixed {
  position: fixed;
  top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1.9s ease; 
  margin-top: 3rem;
  right: 0.7%;
}
.inicio .contenido-banner .social-buttons.fixed a {
  margin: 1rem 0; 
  margin-bottom: 0;
  animation: moveUpAndDown 3s infinite ease-in-out;
  animation: breathe 2s ease-in-out infinite;
}
.inicio .contenido-banner .redes a{
  background-color: var(--colordiferente);
}


/*Boton flotante*/
.wrapper .button{ 
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  animation: breathe 2s ease-in-out infinite;
}

.button i {
    animation: beat 2s ease-in-out infinite;
    text-decoration: none;
  }

/*Estilos con animation contorno respirando*/
@keyframes breathe {
    0% {
      box-shadow: 0 0 0 0 #1cb698;
    }
    70% {
      box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
  /*Estilos de animacion del icono latiendo*/
  @keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  /*Estilos con animation contorno respirando*/

.wrapper .button .icon{
  transition: all 0.1s ease-out;
}

.wrapper .button:nth-child(1) span{
  color: #1cb698;
}
/*Final estilos boton flotante*/


.sobremi {
  background-color: var(--colorAzul);
  color: var(--colorNegro);
  padding: 3rem 3rem;
  box-shadow: var(--shadow-color);
}
.sobremi .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.sobremi h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
  text-shadow: var(--text-sobra);
}
.sobremi .contenido-seccion p {
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  text-shadow: var(--text-sobra-suave);
}
.sobremi .contenido-seccion p span {
  color: #1cb698;
  font-weight: bold;
  text-shadow: var(--text-sobra-suave);
  font-size: 28px;
}
.sobremi .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sobremi .fila .col {
  width: 50%;
}
.sobremi .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
  text-shadow: var(--text-sobra);
}
.sobremi .fila .col ul {
  list-style: none;
}
.sobremi .fila .col ul li {
  margin: 12px 0;
  text-shadow: var(--text-sobra-suave);
}
.sobremi .fila .col ul li strong {
  display: inline-block;
  color: #1cb698;
  width: 130px;
  text-shadow: var(--text-sobra-suave);
}
.sobremi .fila .col a {
  background-color: #1cb698;
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
  color: #000;
  text-shadow: var(--text-sobra);
  border: none;

}
.sobremi .fila .col .contenedor-intereses {
  display: flex;
  flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes {
  width: 100px;
  height: 100px;

  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.sobremi .fila .col .contenedor-intereses .interes:hover {
  background-color: #1cb698;
}
.sobremi .fila .col .contenedor-intereses .interes i {
  font-size: 30px;
  margin-bottom: 10px;
}
.sobremi button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--colorNegro);
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: var(--colorNegro);
  position: relative;
  z-index: 10;
}

.sobremi .contenido-seccion a {
  cursor: pointer;
  background-color: var(--colordiferente);
  border: 2px solid var(--color-fondo);
  width: fit-content;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: var(--color-dark);
  position: relative;
  z-index: 10;
  border-radius: 10rem;
  text-shadow: var(--text-sobra);
}
.sobremi button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1cb698;
  z-index: -1;
  transition: 1s;
}

.sobremi a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1cb698;
  z-index: -1;
  transition: 1s;
  border-radius: 10rem;
}
.sobremi a:hover .overlay {
  width: 100%;
}
.sobremi button:hover .overlay {
  width: 100%;
}
/* SECCION S K I L L S */
.skills {
  background-color: var(--colorAzul);
  color: var(--colorNegro);
  padding: 50px 20px;
  box-shadow: var(--shadow-color);
}
.skills .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.skills h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
  text-shadow: var(--text-sobra);
}
.skills .fila {
  display: flex;
}
.skills .fila .col {
  width: 50%;
  padding: 0 20px;
}
.skills .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
  text-shadow: var(--text-sobra);
}
.skills .skill > span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  text-shadow: var(--text-sobra-suave);
}
.skills .skill .barra-skill {
  height: 8px;
  width: 80%;
  background-color: #d0f1eb;
  position: relative;
  margin-bottom: 30px;
}
.skills .skill .barra-skill span {
  text-shadow: var(--text-sobra);
}
.skills .skill .progreso {
  background-color: #1cb698;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  color: #fff;
}
.skills .skill .barra-skill span {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #1cb698;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript {
  width: 0%;
  animation: 2s javascript forwards;
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .html {
  width: 0%;
  animation: 2s html forwards;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .css {
  width: 0%;
  animation: 2s css forwards;
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .sass {
  width: 0%;
  animation: 2s sass forwards;
}
@keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .tailwind {
  width: 0%;
  animation: 2s tailwind forwards;
}
@keyframes tailwind {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .php {
  width: 0%;
  animation: 2s php forwards;
}
@keyframes php {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .laravel {
  width: 0%;
  animation: 2s laravel forwards;
}
@keyframes laravel {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .bootstrap {
  width: 0%;
  animation: 2s bootstrap forwards;
}
@keyframes bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .java {
  width: 0%;
  animation: 2s java forwards;
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .mysql {
  width: 0%;
  animation: 2s mysql forwards;
}
@keyframes mysql {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.skills .skill .sqlserver {
  width: 0%;
  animation: 2s sqlserver forwards;
}
@keyframes sqlserver {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.skills .skill .git {
  width: 0%;
  animation: 2s git forwards;
}
@keyframes git {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .comunicacion {
  width: 0%;
  animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .trabajo {
  width: 0%;
  animation: 2s trabajo forwards;
}
@keyframes trabajo {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .creatividad {
  width: 0%;
  animation: 2s creatividad forwards;
}
@keyframes creatividad {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .dedicacion {
  width: 0%;
  animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .disciplina {
  width: 0%;
  animation: 2s disciplina forwards;
}
@keyframes disciplina {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .cooperación {
  width: 0%;
  animation: 2s cooperación forwards;
}
@keyframes cooperación {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.skills .skill .tolerancia {
  width: 0%;
  animation: 2s tolerancia forwards;
}
@keyframes tolerancia {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.skills .skill .organizacion {
  width: 0%;
  animation: 2s organizacion forwards;
}
@keyframes organizacion {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.skills .skill .orientadoResultados {
  width: 0%;
  animation: 2s orientadoResultados forwards;
}
@keyframes orientadoResultados {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.skills .skill .planeacion {
  width: 0%;
  animation: 2s planeacion forwards;
}
@keyframes planeacion {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.skills .skill .iniciativa {
  width: 0%;
  animation: 2s iniciativa forwards;
}
@keyframes iniciativa {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* SECCION CURRICULUM */
.curriculum {
  background-color: var(--colorAzul);
  color: var(--colorNegro);
  padding: 50px 20px;
  box-shadow: var(--shadow-color);
}
.curriculum .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.curriculum h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
  text-shadow: var(--text-sobra);
}
.curriculum .fila {
  display: flex;
  justify-content: space-between;
}
.curriculum .fila .col {
  width: 49%;
  padding: 0 20px;
}
.curriculum .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
  text-shadow: var(--text-sobra);
}
.curriculum .fila .izquierda {
  border-right: 4px solid #1cb698;
}
.curriculum .fila .derecha {
  border-left: 4px solid #1cb698;
}

/* Estilos con animation contorno respirando para la derecha */
@keyframes breathe-der {
  0% {
    border-color: #1cb698;
  }
  70% {
    border-color: 0 rgba(37, 211, 102, 0);
  }
  100% {
    border-color: 0 rgba(0, 0, 0, 0);
  }
}

/* Estilos con animation contorno respirando para la izquierda */
@keyframes breathe-izq {
  0% {
    border-color:  #1cb698;
  }
  70% {
    border-color: 0 rgba(37, 211, 102, 0);
  }
  100% {
    border-color: 0 rgba(0, 0, 0, 0);
  }
}

@keyframes beat-izq {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes beat-der {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*Estilos con animation contorno respirando*/
@keyframes breathe-item {
  0% {
    box-shadow: 0 0 0 0 #1cb698;
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/*Estilos de animacion del icono latiendo*/
@keyframes beat-item {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.curriculum .fila .item {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #94c0e4;
  position: relative;
  text-shadow: var(--text-sobra-suave);
}
.curriculum .fila .item h4 {
  color: var(--color-dark);
  font-size: 20px;
  margin-bottom: 10px;
}
.curriculum .fila .item .casa {
  color: var(--color-dark);
  font-size: 22px;
  font-weight: bold;
  display: block;
}
.curriculum .fila .item .fecha {
  display: block;
  color: var(--color-dark);
  margin-bottom: 10px;
}
.curriculum .fila .item p {
  color: var(--color-dark);
  line-height: 24px;
}
.curriculum .fila .izq {
  border-right: 2px solid #1cb698;
  margin-right: 20px;
  border-radius: 1rem;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
}
.curriculum .fila .der {
  border-left: 2px solid #1cb698;
  margin-left: 20px;
  border-radius: 1rem;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
}
.curriculum .fila .item .conectori {
  height: 2px;
  background-color: #1cb698;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}
.curriculum .fila .item .conectori .circuloi {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #1cb698;
  float: right;
  position: relative;
  bottom: 4px;
}
.curriculum .fila .item .conectord {
  height: 2px;
  background-color: #1cb698;
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}
.curriculum .fila .item .conectord .circulod {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #1cb698;
  float: left;
  position: relative;
  bottom: 4px;
}
/* SECCION PORTFOLIO */
.portfolio {
  background-color: var(--colorAzul);
  color: var(--colorNegro);
  padding: 50px 20px;
  box-shadow: var(--shadow-color);
}
.portfolio .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.portfolio h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
  text-shadow: var(--text-sobra);
}
.portfolio .galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio .galeria .proyecto {
  position: relative;
  max-width: 340px;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
}
.portfolio .galeria .proyecto img {
  width: 100%;
  height: 20rem;
  display: block;
  border-radius: 1rem;
  box-shadow: var(--shadow-color);
}
.portfolio .galeria .proyecto .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(28, 182, 152, 0.8), rgba(28, 182, 152, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
.portfolio .galeria .proyecto .overlay h3 {
  margin-bottom: 20px;
  transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover {
  opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3 {
  margin-bottom: 0px;
}
/* SECCION CONTACTO */
.contacto {
  background-color: var(--colorAzul);
  color: var(--colorNegro);
  padding: 50px 0;
}
.contacto .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.contacto h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
  text-shadow: var(--text-sobra);
}
.contacto .fila {
  padding: 10px;
  background-color: var(--colordiferente);
  max-width: 900px;
  margin: auto;
  border-radius: 40px;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 600px) {
  .contacto .fila {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.contacto .col {
  width: 100%;
  padding: 0.5rem;
  position: relative;
  border-radius: 1rem;
}
.contacto .col input,
.contacto .col textarea {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  margin-bottom: 20px;
  color: #131517;
  font-size: 18px;
  border-radius: 1rem;
  text-shadow: var(--text-sobra);
}
.contacto button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1cb698;
  z-index: -1;
  transition: 1s;
  border-radius: 10rem;
}
.contacto button:hover .overlay {
  width: 100%;
}
.contacto .col img {
  width: 100%;
}
.contacto .col .info {
  position: absolute;
  top: 40%;
  font-weight: 700;
  background-color: #94c0e4;
  padding: 20px;
  width: 350px;
  border-radius: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contacto .col .info ul {
  list-style: none;
}
.contacto .col .info ul li {
  color: var(--color-dark);
  margin-bottom: 20px;
}
.contacto .col .info ul li i {
  color: #1cb698;
  display: inline-block;
  margin-right: 20px;
}
footer {
  background-color: var(--colordiferente);
  color: var(--color-dark);
  padding: 1rem;
font-weight: 700;
  text-align: center;
  position: relative;
  width: 100%;
  box-shadow: var(--shadow-color-footer);
  text-shadow: var(--text-sobra);
}
footer .redes {
  margin-bottom: 20px;
}
footer .redes a {
  color: var(--colorNegro);
  display: inline-block;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 20px;
  transition: 0.3s;
}
footer .ir-arriba {
  padding: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  right: 0px;
  border-radius: 15rem;
}
.up-arrow {
  border-radius: 15rem;
  width: 3rem;
  height: 3rem;
}
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.upward-arrow {
  position: fixed;
  width: 3rem;
  height: 3rem;
  background-color: var(--colordiferente);
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--color-dark);
  transition: background-color 0.3s ease-in-out;
  right: 0.5%;
  bottom: 5%;
  text-shadow: var(--text-sobra);
}

.upward-arrow:hover {
  background-color: #1cb698;
}

.upward-arrow::before {
  content: '\2191'; 
}

/* Animación para la flecha */
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

.upward-arrow {
  animation: bounce 1s infinite;
  animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;	
}

.hidden {
  display: none;
  pointer-events: none;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 980px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: block;
  }
  nav.responsive {
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: var(--colorAzul);
    width: 180px;
  }
  nav.responsive ul {
    display: block !important;
  }
  nav.responsive ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    background-color: var(--colordiferente);
  }
}
@media screen and (max-width: 700px) {
  .sobremi .fila {
    display: block;
  }
  .sobremi .fila .col {
    width: fit-content;
  }

  .skills .fila {
    display: block;
  }
  .skills .fila .col {
    width: 100%;
  }
  .skills .fila .col .barra-skill {
    width: 100%;
  }

  .curriculum .fila {
    display: block;
  }
  .curriculum .fila .col {
    width: 90%;
  }
  .curriculum .fila .derecha {
    margin-left: 20px;
  }

  .portfolio .galeria {
    display: block;
    width: 100%;
  }
  .portfolio .galeria .proyecto {
    max-width: 100%;
  }
  .portfolio .galeria .proyecto img {
    width: 100%;
  }
  .contacto .fila {
    display: block;
  }
  .contacto .fila .col {
    width: 100%;
  }
}

.button-input {
  width: 10rem;
  margin: auto;
  padding: 1rem 0;
  font-size: 1rem;
  text-shadow: var(--text-sobra);
}
.boton-enviar {
  background-color: #1cb698;
  border: none; 
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s; 
  cursor: pointer; 
  border-radius: 12px;
  font-weight: 700;
  text-shadow: var(--text-sobra);
  box-shadow: var(--shadow-color);
}
.boton-enviar:hover {
  background-color: #75d1bf; 
}


/*Botón de cambio de tema*/

#switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--color-fuente);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:var(--color-fondo);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-fuente);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-fuente);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mail-negro{
color: var(--color-dark);
}

/* Estilo base para el select */
.language{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color:var(--color-fuente);
  padding: 4px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  text-shadow: var(--text-sobra);
  text-shadow: var(--text-sobra-suave);
  box-shadow: var(--shadow-color);
}


/* Mensaje popup */
.popup {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 10px;
  background-color:var(--color-fuente);
  color:var(--color-fondo);
  box-shadow: var(--shadow-color);
  text-shadow: var(--text-sobra);
  text-shadow: var(--text-sobra-suave);

}

.popup p {
  margin: 0;
}

.popup .close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.popup .close:hover {
  color: black;
}

.click-select{
  box-shadow: var(--shadow-color);
  text-shadow: var(--text-sobra);
}

.btn2{
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  
}

.btn2::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098FF;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.btn2:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}


.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.social-button-size {
  width: 64px;
}

.social-button-icon-size {
  width: 25.6px;
}

.social-button-background {
  background: #fff;
}

.social-button-active-color {
  color: #fff;
}

.social-button-transition-time {
  transition: 0.3s;
}

.social-button-colors-mail {
  color: #0072c6;
  background: #0072c6;
}

.social-button-colors-facebook {
  color: #3b5999;
  background: #3b5999;
}

.social-button-colors-linkedin {
  color: #0077b5;
  background: #0077b5;
}

.social-button-colors-github {
  color: #6e5494;
  background: #6e5494;
}

.social-button-colors-codepen {
  color: #212121;
  background: #212121;
}

.social-button-colors-steam {
  color: #7da10e;
  background: #7da10e;
}

.social-button-colors-snapchat {
  color: #eec900;
  background: #eec900;
}

.social-button-colors-twitter {
  color: #55acee;
  background: #55acee;
}

.social-button-colors-instagram {
  color: #e4405f;
  background: #e4405f;
}

.social-button-colors-npmjs {
  color: #c12127;
  background: #c12127;
}


.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 44px;
  height: 46px;
  border: solid 1px black;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
  animation: breathe 2s ease-in-out infinite;
  color: var(--color-dark);
  margin: 40px 5px;
  text-shadow: var(--text-sobra);

}

.social-button::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
  color: #fff;
}

.social-button:focus::after,
.social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.social-button i {
  font-size: 25.6px;
}

.social-button svg {
  height: 25.6%;
  width: 25.6%;
}

.social-button--mail {
  color: #0072c6;
}

.social-button--mail::after {
  background: #0072c6;
}

.social-button--facebook {
  color: #3b5999;
}

.social-button--facebook::after {
  background: #3b5999;
}

.social-button--linkedin {
  color: #0077b5;
}

.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--github {
  color: #6e5494;
}

.social-button--github::after {
  background: #6e5494;
}

.social-button--codepen {
  color: #212121;
}

.social-button--codepen::after {
  background: #212121;
}

.social-button--steam {
  color: #7da10e;
}

.social-button--steam::after {
  background: #7da10e;
}

.social-button--snapchat {
  color: #eec900;
}

.social-button--snapchat::after {
  background: #eec900;
}

.social-button--twitter {
  color: #55acee;
}

.social-button--twitter::after {
  background: #55acee;
}

.social-button--instagram {
  color: #e4405f;
}

.social-button--instagram::after {
  background: #e4405f;
}

.social-button--npmjs {
  color: #c12127;
}

.social-button--npmjs::after {
  background: #c12127;
}


/* efecto respirando **/
.illustration {

  width: auto;

  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.hover {
  animation: hover 5s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.number-one {
  transform: translateY(-10px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-10 3632ms ease-in-out infinite;
  animation-fill-mode: forwards;
}

.number-two {
  transform: translateY(-20px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-20 2964ms ease-in-out infinite;
  animation-delay: 5114ms;
  animation-fill-mode: forwards;
}

.number-three {
  transform: translateY(-30px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-30 5326ms ease-in-out infinite;
  animation-delay: 1855ms;
  animation-fill-mode: forwards;
}

.number-four {
  transform: translateY(-50px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-50 5213ms ease-in-out infinite;
  animation-delay: 2441ms;
  animation-fill-mode: forwards;
}

.number-five {
  transform: translateY(-60px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-60 2012ms ease-in-out infinite;
  animation-delay: 869ms;
  animation-fill-mode: forwards;
}

.number-six {
  transform: translateY(-70px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-70 3310ms ease-in-out infinite;
  animation-delay: 444ms;
  animation-fill-mode: forwards;
}

.number-seven {
  transform: translateY(-80px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-80 5220ms ease-in-out infinite;
  animation-delay: 877ms;
  animation-fill-mode: forwards;
}

.number-eight {
  transform: translateY(-90px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-90 4046ms ease-in-out infinite;
  animation-delay: 1741ms;
  animation-fill-mode: forwards;
}

.number-nine {
  transform: translateY(-100px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-100 2729ms ease-in-out infinite;
  animation-delay: 2594ms;
  animation-fill-mode: forwards;
}

.number-ten {
  transform: translateY(-110px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-110 3213ms ease-in-out infinite;
  animation-delay: 5033ms;
  animation-fill-mode: forwards;
}

.number-eleven {
  transform: translateY(-120px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-120 4168ms ease-in-out infinite;
  animation-delay: 2819ms;
  animation-fill-mode: forwards;
}

.number-twelve {
  transform: translateY(-150px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-150 2503ms ease-in-out infinite;
  animation-delay: 3478ms;
  animation-fill-mode: forwards;
}

.number-thirteen {
  transform: translateY(-160px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-160 4111ms ease-in-out infinite;
  animation-delay: 3233ms;
  animation-fill-mode: forwards;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeNumberDown-10 {
  0% {
    transform: translateY(-10px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-20 {
  0% {
    transform: translateY(-20px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-30 {
  0% {
    transform: translateY(-30px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(130px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-50 {
  0% {
    transform: translateY(-50px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(110px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-60 {
  0% {
    transform: translateY(-60px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(90px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-70 {
  0% {
    transform: translateY(-70px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-80 {
  0% {
    transform: translateY(-80px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-90 {
  0% {
    transform: translateY(-90px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-100 {
  0% {
    transform: translateY(-100px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-110 {
  0% {
    transform: translateY(-110px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(30px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-120 {
  0% {
    transform: translateY(-120px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(20px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-150 {
  0% {
    transform: translateY(-150px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-160 {
  0% {
    transform: translateY(-160px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0;
  }
}
/* fin efecto respirando **/